@model DAL.Models.Domain.SocialMobilization.Training.CITrainingParticipation


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CI/CIG</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.CICIG.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CICIG.Name)

        </dd>
       
    </dl>
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model.CITrainingParticipationId">Edit</a> 
</div>

