@* @model DAL.Models.Domain.Training.MemberTrainingCICIG

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CI/CIG</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunityInstitution.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunityInstitution.Name)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberTrainingCICIGId">Edit</a> 
</div>
 *@