@model DAL.Models.Domain.MasterSetup.BeneficiaryPDMA

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <!-- FormValidation -->
    <div class="col-12">
        <div class="card">
            <h4 class="card-header">Beneficiary PDMA</h4>
            <h5 style="padding-left:2.5%">Create</h5>
            <hr class="mt-0" />
            <div class="card-body">
                <form id="formValidationExamples22" asp-action="Create" method="post" class="row g-6" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="BeneficiaryName">Beneficiary Name</label>
                        <input asp-for="BeneficiaryName" class="form-control" id="formValidationName" required />
                        <span asp-validation-for="BeneficiaryName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="BeneficiaryFather">Beneficiary Father</label>
                        <input asp-for="BeneficiaryFather" class="form-control" id="formValidationFather" required />
                        <span asp-validation-for="BeneficiaryFather" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Gender">Gender</label>
                        <input asp-for="Gender" class="form-control" id="formValidationGender" required />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="CNIC">CNIC</label>
                        <input asp-for="CNIC" class="form-control" id="formValidationCNIC" required />
                        <span asp-validation-for="CNIC" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="CNICAttachment">CNIC Attachment</label>
                        <input asp-for="CNICAttachment" type="file" class="form-control" required />
                        <span asp-validation-for="CNICAttachment" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Mobile">Mobile</label>
                        <input asp-for="Mobile" class="form-control" id="formValidationMobile" required />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Age">Age</label>
                        <input asp-for="Age" class="form-control" id="formValidationAge" required />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="MaritialStatus">Marital Status</label>
                        <input asp-for="MaritialStatus" class="form-control" id="formValidationMaritalStatus" required />
                        <span asp-validation-for="MaritialStatus" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="IsDisable">Is Disabled</label>
                        <input asp-for="IsDisable" type="checkbox" class="form-check-input" id="formValidationIsDisable" />
                        <span asp-validation-for="IsDisable" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="IsRefugee">Is Refugee</label>
                        <input asp-for="IsRefugee" class="checkbox" class="form-check-input" id="formValidationIsRefugee" />
                        <span asp-validation-for="IsRefugee" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="ProfilePicture">Profile Picture</label>
                        <input asp-for="ProfilePicture" type="file" class="form-control" required />
                        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="District">District</label>
                        <input asp-for="District" class="form-control" id="formValidationDistrict" required />
                        <span asp-validation-for="District" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="Tehsil">Tehsil</label>
                        <input asp-for="Tehsil" class="form-control" id="formValidationTehsil" required />
                        <span asp-validation-for="Tehsil" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="UnionCouncil">Union Council</label>
                        <input asp-for="UnionCouncil" class="form-control" id="formValidationUnionCouncil" required />
                        <span asp-validation-for="UnionCouncil" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="SurveyDate">Survey Date</label>
                        <input asp-for="SurveyDate" type="date" class="form-control" id="formValidationSurveyDate" required />
                        <span asp-validation-for="SurveyDate" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="NextOfKin">Next of Kin</label>
                        <input asp-for="NextOfKin" class="form-control" id="formValidationNextOfKin" required />
                        <span asp-validation-for="NextOfKin" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" asp-for="NextOfKinCNIC">Next of Kin CNIC</label>
                        <input asp-for="NextOfKinCNIC" class="form-control" id="formValidationNextOfKinCNIC" required />
                        <span asp-validation-for="NextOfKinCNIC" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <input type="submit" value="Create" class="btn btn-primary mt-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
