.vs/

.env
**/.env

/IFRAPMIS/wwwroot/
/wwwroot/
**/wwwroot/
.wwwroot/

# Ignore build directories
**/bin/
**/obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build results
*.dll
*.exe
*.app
*.log

# Ignore NuGet packages
*.nupkg
*.snupkg
.nuget/

# Ignore web config transformations
web.*.config
app.*.config

# Ignore Visual Studio Code settings folder
.vscode/

# Ignore JetBrains Rider settings folder
.idea/
